<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/ng-table.min.js"></script>
    <link href="Content/ng-table.min.css" rel="stylesheet" />
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="app3.js"></script>
    <style type="text/css">
        .demoTable td:last-child {
            min-width: 90px;
        }

        /** Editable table
        ------------------------- */

        .editable-table > tbody > tr > td {
            padding: 4px;
        }

        .editable-text {
            padding-left: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            display: inline-block;
        }

        .editable-table tbody > tr > td > .controls {
            //width: 100%;
        }

        .editable-input {
            padding-left: 3px;
        }

            .editable-input.input-sm {
                height: 30px;
                font-size: 14px;
                padding-top: 4px;
                padding-bottom: 4px;
            }
    </style>
    <link href="css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" ng-controller="ngtableCtrl" ng-app="ngTableTutorial">
        <h2>AngularJS ng-table Pagination Example</h2>
        <table ng-table="usersTable" class="table table-striped">
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
                        Age
                        <span ng-show="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                        Location
                        <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <!--<th>Name</th>
                <th>Age</th>
                <th>Location</th>-->
            </tr>
            <tr>
                <td>
                    <input ng-model="searchtxt.name" type="text" placeholder="Enter Only Name" />
                </td>
                <td>
                    <input ng-model="searchtxt.age" type="text" placeholder="Enter Only Name" />
                </td>
                <td>
                    <input ng-model="searchtxt.location" type="text" placeholder="Enter Only Name" />
                </td>
            </tr>
            <tr ng-repeat="user in data | filter:searchtxt | orderBy:sortType:sortReverse" ng-include="getTemplate(user)"></tr>
        </table>

        <script type="text/ng-template" id="display">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.location}}</td>
            <td>
                <button ng-click="editContact(user)" class="btn btn-primary">Edit</button>
            </td>
            <td>
                <button ng-click="deleteContact($index)" class="btn btn-danger">Delete</button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td><input type="text" ng-model="model.selected.name" /></td>
            <td><input type="text" ng-model="model.selected.age" /></td>
            <td>
                <button ng-click="saveContact($index)" class="btn btn-primary">Save</button>
                <button ng-click="reset()" class="btn btn-danger">Cancel</button>
            </td>
        </script>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <input type="text" ng-model="user.name" placeholder="Username">
            </div>


            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

       <button type="button" class="btn btn-primary" ng-click="open()">Open me!</button>
        <div>Username: {{ username }}</div>
    </div>
</body>
</html>
