<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="2.2.0" targetFramework="net452" />
  <package id="angular-file-upload" version="12.2.12" targetFramework="net452" />
  <package id="AngularJS.Animate" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS-Toaster" version="2.0.0" targetFramework="net452" />
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="font-awesome" version="4.6.1" targetFramework="net452" />
  <package id="FontAwesome" version="4.6.3" targetFramework="net452" />
  <package id="jQuery" version="1.12.4" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net452" />
  <package id="ngTable" version="1.0.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net452" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net452" />
  <package id="ZingChart" version="2.5.0" targetFramework="net452" />
</packages>